
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist" , sans-serif;
}

/* theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
  }

html{
    font-size: 62.5%;
}


h1,
h2,
h3,
h4,
h5,
h6{
   font-family: "Poppins" ,sans-serif; 
}

label, p,li,a{
    font-family: "Urbanist" , sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* layout*/
.container{
    max-width: 142rem;
    margin:  0 auto;
    padding: 9.6rem 2.4rem;
}

.grid{
    display: grid;
}

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

.grid-three--cols{
    grid-template-columns: repeat(3,1fr);
}

.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}

.section-choose .container:first-child{
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;;
}

.section-contact .container:first-child,
.section-about .container:first-child,
.section-blog .container:first-child,
.section-choose .container:first-child,
.section-contact .container:first-child,
.section-contact--homepage .container:first-child,
.section-course .container:first-child{

    padding: 6.4rem 2.4rem 2.4rem 2.4rem;;

}



/* layout end*/


/* resuabale */

.btn{
    display: inline-block;
    padding: 1.4rem 3.2rem ;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
   
}

.btn:hover{
    background-color: var(--bnt-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
}

/* resuabale end */




/* nav bar */

.sec-navbar{

    width: 100%;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0px 0px 0px 1px;

    & img{
        width: 80%;
        height: auto;
    }
}


.sec-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
}

.sec-navbar .nav-bar ul{
    display: flex;
    gap: 3.2rem;

    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
        
        &::after{
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            border: 0.2rem solid var(--main-color)
            
        }    
    }


    & li a:hover::after{
        width: 100%;
    }
}





/* nav bar end */




/* sec 1 */

main{
    
    position: relative;
    background-image: linear-gradient(
                to top right,
                #3d86fa,
                #4484fb,
                #679eff,
                #b3d2ff,
                #ebf3fe
            );
    position: relative;        

}

.custom-shape-divider-bottom-1717763131 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717763131 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1717763131 .shape-fill {
    fill: #FFFFFF;
}



.section-hero--image{
    width: 100%;
    height: auto;
    scale: -1 1
}

.role-img{
    width: 100%;
    height: auto;
}

.section-hero .grid{
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--bnt-hover-bg-color);
        font-weight: 700;
    }

    & .hero-heading{
        font-size: 5rem;
        font-family: "jost";
        line-height: 1.5;
        font-weight: 700;
        color: var(--hero-heading-color);
    }

    & .hero-para{
        color: var(--white-color);
        margin:2rem 0 4rem 0 ;   
    }



}


/* sec 1 end */


/* sec 2 */

.section-common-heading{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
    
}

.section-common-subheading{
    color: var(--heading-color);
}


.section-about img{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s linear ;
}

.section-about .about-div {
    text-align: center;
}

.section-common--title{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.section-about .grid{
    gap: 6.4rem;
}

.icon :hover {
    rotate: 360deg;
}

/* sec 2 end */


/* sec 3 */

.section-course .grid{
    gap: 3.2rem;
}

.section-course .course-div{
    padding:3.2rem ;
}

.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);
}

/* .fa-brands  */

.fa-solid {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: #e9b824;
    color: var(--hero-heading-color);
}

.py{
    color: #68bf9b;
}

.course-div:nth-child(3) .icon .fa-solid{
    color: #ff8b52;
}


.course-div:nth-child(4) .icon .fa-solid{
    color: #183d3d;
    background-color: #ccf7f7
}

.course-div:nth-child(5) .icon .fa-solid{
    color: rgb(247, 223, 238);
    color: #000;
}

.course-div:nth-child(6) .icon .fa-solid{
    color: #ff9b50;
    background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid{
    color: #1450a3;
    background-color: #dce9fa;
}

.m5{
    /* padding: 2.6rem 2.2rem; */
}

.section-course {
    background-color: #f7fcff;
}

/* sec 3 end */


/* sec 4 start */

.section-choose .grid{
    gap: 9.6rem;
}

.common-text--highlight{
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 50%;
}

.section-choose .text-align-right .why-choose--div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.img-mob{
    width: 90%;
    height: auto;
}

.why-choose--div{
    margin-top:3.2rem ;
}

.choose-center--div ,.choose-center--div figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::after
{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    z-index: -1;
    
}


.choose-center--div figure::before{
    animation: circle 5s linear infinite;
    
}

@keyframes circle {
    0% {
        background-color: var(--main-color);
    }

    33% {
        background-color: #5e94ec; /* Light blue */
    }

    66% {
        background-color: #3d7ee8;
    }

    
    100% {
        background-color: var(--main-color);
    }
}


.choose-center--div figure::after{
    width: 50rem;
    aspect-ratio: 1;
    border: 0.5rem solid var(--supporting-color);
    background-color: transparent;
    z-index: -2;
}

/*  */

/* sec 5 */

.section-contact--homepage{
    width: 60%;
    margin: 0 auto;
    min-height: 30rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    padding: 0.3rem 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px ,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    & .grid {
        align-items: center;
        grid-area: 6.4rem;
    }  
    
    position: relative;
    bottom: -15rem;
    background-color: var(--bg-color);
}


.section-contact--homepage {
    width: 60%;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    bottom: -15rem;
    padding: 0 3.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.section-contact--homepage  a{
    color: var(--white-color);
    text-transform: capitalize;
}

.section-contact--homepage .fa-solid {
    padding: 0;
    background-color: var(--main-color);
    color: var(--white-color);
}

.contact-title{
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p{
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage img{ 
    width: 100%;
    height: auto;
   
}

/*  */


/* footer  */

footer{
    background-color: var(--footer-bg-color);
    padding-top: 15rem;

}

footer .grid{
    text-align: right;
}

footer *{
    color: var(--white-color);
}

.footer-subheading{
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p{
    margin: 1rem 0 3.2rem  0;
}

.footer-1--div{

    text-align: left;

    & .social-footer--icons{
        display: flex;
        gap: 4rem;


        & .fa-brands{
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            color: var(--main-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s linear;


            &:hover{
                color: var(--supporting-color);
                background-color: var(--bnt-hover-bg-color);
                rotate: 360deg;
            }
            
        }

    
    }   
}


/*  */




/* blog page */

.section-blog{
    background-color: var(--bg-color);

    & .grid{
        gap: 6.4rem;
    }

    & .blog{

        box-shadow: var(--btn-box-shadow);
        transition:  all 0.3s linear;

        & .blog-content{
            padding: 1.4rem 2.4rem 2.4rem 2.4rem;
        }

        &:hover{
            scale: 1.1;
        }
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .blog-date{
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;

        & .fa-regular , & .fa-solid {
            background-color: transparent;
            padding: 0;
            color: var(--font-color) ;
            
            &::before{
                color: var(--hero-heading-color);
            }
        }
    }
}


/* blog end */

/* contact */

.section-contact {
    & .grid{
        gap: 6.4rem;
        align-items: center;
    }
}
.mb-3{
    margin-bottom: 3.2rem;
}

label{
    display: block;
    text-transform: capitalize;
}


input , textarea{
    width: 100%;
    padding: 1.4rem 2.4rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    
}


.contact-contents--page .grid{

    gap: 6.4rem;


}

::placeholder{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.btn-submit{
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
}


::-webkit-scrollbar{
    width: 1rem;
}


::-webkit-scrollbar-track{
    background: var(--supporting-color);
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--main-color);
    border-radius: 50px;
}



/* media quireis*/

@media (width <=4080){


    .section-contact--homepage {
        min-height: 65rem;
    }


}


@media (width <=1400px){

    html{
        font-size: 56.25%;
    }

    .section-hero img{
        width:90%
    }
}


@media (width <=1220px){

    html{
        font-size: 54%;
    }

    .section-hero img{
        width:90%
    }


    .section-contact .grid,
    .section-about .grid,
    .section-blog .grid,
    .section-choose .grid,
    .section-contact .grid,
    .section-contact--homepage .grid,
    .section-course .grid{

        gap: 6.4rem;
    }
}




@media (width <=1100px){
    .section-course .grid-four--cols{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }

    

    .section-choose{
        & .choose-center--div{
            & figure::before{
                width: 0;
                height: 0;
                background: transparent;
                padding: 0;
            }

            & figure::after{
                width: 0;
                height: 0;
                background: transparent;
                padding: 0;
            }

            order: 1;

        }

        & .chose-right--div{
            order: 3;
        }

        & .chose-left--div{
            order: 2;
        }

        
    }

    .contact-title {
        font-size: 2.4rem;
    }

}


@media (width <=998px){

    .section-blog .grid-four--cols{
        grid-template-columns: repeat(2,1fr);
    }

    .section-hero {

        height: auto;
        padding-bottom: 5rem;
        & .grid-two--cols{
            grid-template-columns: 1fr;
        }

        & .section-hero--content{
            order:2
        }

        & .section-hero--image{
            order:1;
            width: 40%;
            justify-content: center; 
        }

    }

    .section-about .about-div{
        text-align: left;
    }



    footer .grid-four--cols{
        grid-template-columns: repeat(3,minmax(250px,1fr));
        text-align: left;

        & .footer-1--div{
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: 6.4rem;
        }


    }

    .section-contact--homepage {
        min-height: 38rem;
        width: 65%;
    }

  
    
}

@media (width <=768px){



    .grid-two--cols,.grid-three--cols,.grid-four--cols ,.grid-four--cols{
        grid-template-columns: 1fr;
    }

    .section-blog .grid-four--cols{
        grid-template-columns: 1fr;
    }

    .sec-navbar .container{
        display: flex;
        flex-direction: column;
        
        & .nav-brand{
            text-align: center;
            margin-bottom: 2.4rem
        }

        & .nav-bar ul{
            gap: 2.4rem;
        }
    }

    .section-hero .grid .hero-heading{
        font-size: 3.8rem;
    }

    .section-choose {
         & img{
            width: 40%;
         }

         & .text-align-right .why-choose--div {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        & .grid {
            gap: 1.4rem;
        }

 
    }


    footer .grid-four--cols {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        text-align: left;
    }

    .section-contact--homepage .contact-image img{
        width: 80%;
        height: auto;
        margin-left: 3rem;
    }
    
    .section-contact--homepage {
        min-height: 60rem;
    }





}


@media (width <=580px){


    .section-contact--homepage .contact-image img{
        width: 80%;
        height: auto;
    }

    .section-contact--homepage {
        width: 70%;;
    }
    

    .section-contact--homepage {
        min-height: 52rem;
    }


}



@media (width <= 380px) {
    .section-contact--homepage {
        width: 75%;
    }
}


